Try to follow this example that reads some student marks, and uses a function to calculate the penalty which is applied for late submission of coursework. You are asked to implement the function and then later change the implementation when the university adopts a new approach to penalising late submissions.

In [3]:
import pandas as pd
from datetime import date

In [4]:
marks = pd.read_excel('studentmarks.xlsx')

In [5]:
marks

              Student  Mark Submission Date
0       Corinne White    57      2021-11-20
1        Imogen Moore    25      2021-11-21
2   Suleman Sanderson    36      2021-11-25
3  Alistair Fernandez    88      2021-11-21
4   Ashleigh Stephens    98      2021-11-23

In [6]:
from dateutil.parser import parse
due_date = parse('21-11-2021')

In [7]:
days_late = [sd - due_date for sd in marks["Submission Date"]]

In [8]:
marks['Days Late'] = days_late
marks

              Student  Mark Submission Date Days Late
0       Corinne White    57      2021-11-20   -1 days
1        Imogen Moore    25      2021-11-21    0 days
2   Suleman Sanderson    36      2021-11-25    4 days
3  Alistair Fernandez    88      2021-11-21    0 days
4   Ashleigh Stephens    98      2021-11-23    2 days

In [9]:
dl = marks['Days Late'][2]

The penalty is an absolute deduction of 5 marks per day late. Can you implement a function that works this out.  Two arguments are passed to the function . . the original mark and the number of days it is late.

In [10]:
def calculate_penalty(original_mark, days_late):
    deduction = 5
    ### you need to calculate the penalty here and return it.
    ### at the moment this function just returns 0 penalty
    return original_mark-days_late*deduction

In [11]:
marks["Penalty"] = [calculate_penalty(row["Mark"],row["Days Late"].days) for i,row in marks.iterrows()]

In [12]:
marks["Capped Mark"] = [row["Mark"] - row["Penalty"] for i,row in marks.iterrows()]

In [13]:
marks

              Student  Mark Submission Date Days Late  Penalty  Capped Mark
0       Corinne White    57      2021-11-20   -1 days       62           -5
1        Imogen Moore    25      2021-11-21    0 days       25            0
2   Suleman Sanderson    36      2021-11-25    4 days       16           20
3  Alistair Fernandez    88      2021-11-21    0 days       88            0
4   Ashleigh Stephens    98      2021-11-23    2 days       88           10

Now the penalty mechanism has been changed.  Marks are capped to a 40 if the work is submitted late.  What do you need to change?